body {
  background-color: #070724;
  background-image: url('./assets/background-stars.svg');
  color: #FFFFFF;
  font-family: 'Antonio', sans-serif;
  margin: 0;
}
.navBar{
  color: #FFFFFF;
}

.planetDiv{
  grid-area: pic;

}
.descriptBox{
  grid-area: details;

}
.stats{
  grid-area: stats;
}
.infoSelect{
  grid-area: infoSelect;
}
.listItem:hover{
  background-color: #2A2D80 !important;
}
.listItem{
  color: white;
}



@media screen and (min-width: 1px) and (max-width: 768px) {
  .chevron{
    margin-left: auto;
    padding-bottom: 2rem;
  }
  .menu{
    padding: 0 2rem 0 2rem;
  }
  .srcIcon{
    padding-left: .1rem;
  }

  button{
    background: transparent;
    border: none;
    color: #38384F;
  }
  .infoSelectItem:hover button{
    color:white
  }

  

  .svg{
    height: min-content;
  }


  .mobilePlanet{
    display: flex;
    align-items: flex-end;
    padding-bottom: 1rem;

    border-bottom: 1px solid #38384F;
    font-family: 'League Spartan', sans-serif;
    padding: 0 1rem 0 1rem;
  }
  .iconCol{
    width: 100vw !important
  }
  .hamburgerIcon{
    height: auto;
    width: 10vw;
    margin-left: auto;
  }
  .hamburgerIcon:hover{
    cursor: pointer;
  }
  .wrapper{
 
    display: grid;
    grid-template-areas: 
    "infoSelect"
    "pic"
    "details"
    "stats";
    z-index: 1;
  }

  .nav{
    display: none !important;
   
  }
 .infoSelect{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #38384F;
    width: 100vw;
    margin-left: 0;


 }
 .planetDiv{
   position: relative;
   height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .planetImg{
   transform: scale(.8);
   padding:0;
  max-height: 100%;
  max-width: 100%;
   margin: 0
 }
 .surfaceImg{
  position: absolute;
  align-self: flex-end;
  z-index: 1;
  height: 30%;
  margin-bottom: 2rem;
  
}
 .descriptBox{
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding-top: 1rem;
   height: auto;
   overflow-y: hidden;
 }
 .descriptBox>h2{
  font-family: 'Antonio', sans-serif;
  font-weight: 700;
  font-size: 40px;
 }
 .descriptBox>p{
  letter-spacing: .1ch;
  font-family: 'League Spartan', sans-serif;
  font-weight: 100;
 }
 .stats{
   height: 30vh;
   padding: 1rem;

 }
 .stats>div{
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #38384F;
   padding: 0 1rem 0 1rem;
   margin-top: 1rem;
   height: 20%;
 }
 .stats>div>h4{
    height: min-content;
    margin-bottom: 0;
   align-self: center;
   margin-right: auto;
   font-weight: 700;
   font-size: 11px;
   color: rgb(168, 165, 165);
   letter-spacing: .5ch;

   
 }

}

@media screen and (min-width: 769px ) and (max-width: 1439px) {
  .navCol{
    flex-direction: column;
    align-items: center;
  }


  .wrapper{
    display: grid;
    grid-template-rows: 30vh 48vh 12vh;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "pic pic"
      "details infoSelect"
      "stats stats";
  }
  .hamburgerIcon{
    display: none;
  }
  .infoSelect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    max-height: 90%;

  }
  .infoSelectItem{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 100%;

   
  }
  .infoSelectItem button{
    display: flex;
    margin-left: 5rem;
    height: 100%;
    padding: .5em;
    width: 100%;
    background-color: transparent;
    border-color: #38384F !important;
    color: white;
    font-size: clamp(1rem, 1vw + 1rem, 3rem)
  }
  .infoSelectItem>button>div{
    margin-left: 2rem;
  }


  .descriptBox{
    display: flex;
    flex-direction: column;
    max-height: 100%;
    padding: 0 2rem;
    justify-content: center;

    overflow: auto;
  }
  .descriptBox>p{
    font-family: 'League Spartan', sans-serif;
    padding-top: 2rem;
    font-size: clamp(.25rem, 1vw + 1rem, 2rem);
    max-height: 100%;
  }
  .surfaceImg{
    position: absolute;
    z-index: 2;
    max-height: 10%;
    margin-top: 10rem;
  }

  .stats{
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    max-height: 100%;
    margin-bottom: 1rem;
  }
  .statsItem{
    border: 1px solid gray;
    width: 25%;
    margin: 0 1rem;
  }
  .statsItem h3{
    font-size: clamp(.5rem, 1vw + 1.5rem, 5rem)
  }
  .statsItem h4{
    font-size: clamp(.5rem, 1vw + 1rem, 5rem)
  }
  .nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .planetDiv{

    display:flex;
    justify-content: center;
    align-items: center;
  }
  .planetImg{
    padding: 2rem;
    max-height: 100%;
   
  }

  .navTitle{
    text-align: center;
    width: 100vw;
  }
  .navBar{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 10vh;
  }
  .statsItem{
    
  }
}

@media screen and (min-width: 1440px){
  .infoSelectItem{
    height: 20%;
    border: 1px solid gray;
    margin-top: 1rem;
  }
  .descriptBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%
  }
  .planetDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
    height: 100%
  }
  .navTitle{
    width: 25vw;
  }
  .navCol{
    width: 70vw;
  }
  .navBar{
    height: 50px;
  }
  .nav{
    display: flex;
    justify-content: flex-end;
  }
  .wrapper{
    padding: 0% 10% 0% 10%;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40vh 40vh 10vh;
    grid-template-areas: 
      "pic details"
      "pic infoSelect"
      "stats stats";
    height: 90vh;
  }
  .stats{
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
  }
  .statsItem{
    border: 1px solid gray;
    max-height: 100%;
    width: 24%
  }

}