body {
  margin: 0;
  overflow: hidden;
  background-color: #070724 !important;
  background-image: url('./assets/background-stars.svg');
  color: #FFFFFF;
  font-family: 'Antonio', sans-serif;

}
window{
  background-color: #070724 !important;
}

.navBar{
  background-color: #070724;
  background-image: url('./assets/background-stars.svg');
  color: #FFFFFF;
}
.earthImg{
  padding: 100px;
}

.listItem:hover{
  background-color: #2A2D80 !important;

}
.listItem{
  color: white;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boxItem{
  border: 2px solid black;
  width: auto;
  height: 150px;

}
.bottomRow{
  display: flex;
  


}
.page{
  padding-left: 5%;
  padding-right: 5%;
  margin: 0
}
.earthImg{
  position: absolute;
  z-index: 1;
  align-items: center;
}
.secondImg{
  position: absolute;
  z-index: 2;
  align-self: flex-start;
  margin-top: 70px;
  height: 25%;
  width: auto;
  
}