body {
  margin: 0;
  overflow: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boxItem{
  border: 2px solid black;
  width: 50px;
  height: 50%
}

.bottomRow{
  display: flex;

}
.page{
  padding-left: 5%;
  padding-right: 5%;
  margin: 0
}